[submodule "blog/.vuepress/public/vue3-live2d-static-api"]
	path = blog/.vuepress/public/vue3-live2d-static-api
	url = git@github.com:YiguiDing/vue3-live2d-static-api.git

[submodule "blog/电子/STM32及标准库学习笔记/projects/stm32-makefile/01-template"] 
  path = blog/电子/STM32及标准库学习笔记/projects/stm32-makefile/01-template
  url = git@github.com:YiguiDing/stm32-c-cpp-makefile-template.git