* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	line-height: 21px;
	color: #262626;
    border: 0px;
    box-sizing: border-box;
}