body{
    background-color: #f7f7f8;
}

/* start:公共样式 */
.red{
    color: #cf4444 !important;
}

.common_li{
    margin-bottom: 10px;
    background-color: #ffffff;
	border-radius: 5px;
}
/* end:公共样式 */


/* start:主体内容 */
.mainBox{
    padding: 12px 11px 80px;
}
.mainBox .address{
    width: 100%;
	/* height: 85px; */
    padding: 15px 0px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainBox .address .left{
    width: 30px;
	height: 30px;
	background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
    border-radius: 50%;
    line-height: 30px;
    text-align:center;
}
.mainBox .address .left span{
    color: white;
}
.mainBox .address .right{
    width: 44px;
	height: 44px;
    line-height: 44px;
    text-align:center;
}
.mainBox .address .right span{
    color: #808080;
}
.mainBox .address .middle{
    flex: 1;
    height: 100%;
    padding-left: 10px;
}
.mainBox .address .middle .userinfo,
.mainBox .address .middle .useradd
{
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}
.mainBox .address .middle .userinfo
{
    margin-bottom: 5px;
}
.mainBox .address .middle .userinfo .name{
    margin-right: 20px;
	font-size: 15px;
	color: #262626;
}
.mainBox .address .middle .userinfo .name{
	font-size: 13px;
	color: #262626;
}
.mainBox .goodinfo{
    display: flex;
    align-items: center;
    /* height: 107px; */
    padding: 11px;
}

.mainBox .goodinfo .good_pic{
    width: 85px;
    height: 85px;
    text-align: center;
}
.mainBox .goodinfo .good_pic img{
    width: 100%;
}
.mainBox .goodinfo .info{
    flex: 1;
    height: 100%;
    padding: 7px 12px;
    /* background-color: pink; */
}
.mainBox .goodinfo .count{
    height: 100%;
    padding-top: 10px;
    align-self: flex-start;
    font-family: ArialMT;
	font-size: 15px;
	line-height: 21px;
	color: #262626;
}
.mainBox .goodinfo .count .icon-x{
    display: inline-block;
	font-size: 15px;
	line-height: 21px;
	color: #262626;
}
.mainBox .goodinfo .count .num{
    display: inline-block;
    font-family: ArialMT;
	font-size: 15px;
	line-height: 21px;
	color: #262626;
}
.mainBox .goodinfo .info h5{
	font-size: 13px;
	line-height: 19px;
	color: #262626;
}
.mainBox .goodinfo .info p{

}
.mainBox .goodinfo .info p span{
    display: inline-block;
    /* margin-right: 15px; */
    padding: 0px 3px;
    font-size: 11px;
    color: #888888;
    background-color: #f7f7f8;
	border-radius: 2px;
}
.mainBox .goodinfo .info .price {
	font-family: ArialMT;
	font-size: 9px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: 0px;
	color: #cf4444;

}
.mainBox .goodinfo .info .price span {
	font-family: ArialMT;
	font-size: 16px;
	line-height: 21px;
	color: #cf4444;

}
.mainBox .goodinfo .info s {
	font-family: ArialMT;
	font-size: 9px;
	font-weight: bold;
	line-height: 21px;
	color: #999999;

}
.mainBox .goodinfo .info s span {
	font-family: ArialMT;
	font-size: 12px;
	font-weight: normal;
	color: #999999;

}

.mainBox .otherinfo{
    /* padding: 0px; */
}
.mainBox .otherinfo li{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.mainBox .otherinfo li h5,
.mainBox .otherinfo li p{
	font-size: 13px;
	line-height: 21px;
	color: #262626;
}
.mainBox .otherinfo li h5{
    margin-right: 20px;
}
.mainBox .otherinfo li:nth-child(2) p{
    flex: 1;
	font-size: 12px;
	line-height: 21px;
	color: #989898;
}
.mainBox .otherinfo li:nth-child(3) p span,
.mainBox .otherinfo li:nth-child(3) p .icon-more{
	font-size: 13px;
	line-height: 21px;
	color: #262626;
}
.mainBox .otherinfo li:nth-child(3) p .icon-more{
	font-size: 12px;
	color: #808080;
}


.mainBox .priceinfo li{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.mainBox .priceinfo li h5{
	font-size: 13px;
	font-weight: normal;
	line-height: 21px;
	color: #262626;
}
.mainBox .priceinfo li p{
	font-size: 13px;
	line-height: 21px;
	color: #262626;
}
/* end:主体内容 */






.pay{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    border: 1px solid #ededed;
    background-color: white;
}
.pay .right button{
    width: 91px;
	height: 35px;
	background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
	border-radius: 3px;
    font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 19px;
	color: #ffffff;
}
.pay .left{
	font-size: 11px;
	line-height: 19px;
	color: #1e1e1e;
}
.pay .left span{
	font-size: 11px;
	line-height: 19px;
}
.pay .left span i{
	font-family: AccidentalPresidency;
	font-size: 20px;
	letter-spacing: 1px;
    font-style: normal;
}