<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans.xsd"
>
    <!-- 使用FacotryBean来实例化BookDao class填这个Bean工厂即可  -->
    <bean id="myBookDao_id1" class="com.example.factory.BookDaoFactoryBean" />
    <bean id="myService_id2" class="com.example.service.impl.ServiceImp">
        <property name="bookDao" ref="myBookDao_id1"></property>
    </bean>
</beans>