<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans.xsd"
>
    <bean id="bookDao_ofService" class="com.example.dao.impl.BookDaoImpl">
        <property name="dbName" value="mysql_db_books" />
        <property name="maxConnections" value="50" />
    </bean>
    <bean id="userDao_ofService" class="com.example.dao.impl.UserDaoImpl">
        <property name="dbName" value="mysql_db_users" />
        <property name="maxConnections" value="1000" />
    </bean>

    <!-- 
        根据类型自动装配
            + ServiceImp需要有setter方法，有setter方法的字段才能被自动装配
            + BookDaoImpl只能有一个Bean，如果不唯一，则spring不知道装配哪一个
            + UserDaoImpl只能有一个Bean，如果不唯一，则spring不知道装配哪一个
    -->
    <bean id="myService_id1" class="com.example.service.impl.ServiceImp" autowire="byType" />


    <!-- 
        根据名称自动装配
            + ServiceImp的属性名必须和被装配对象的Bean的id名一致
            + 耦合度较高，若修改被注入对象的属性名，则xml也需要修改id名
            + ServiceImp有属性bookDao_ofService 则 BookDaoImpl的Bean的ID必须为bookDao_ofService，才能完成装配
    -->
    <bean id="myService_id2" class="com.example.service.impl.ServiceImp" autowire="byName" />
    

</beans>