
        #id_1{
            width: 200px;
            height: 100px;
            background-color: skyblue;
            color: red;
        }
    
        
            #id_2{
                width: 200px;
                height: 100px;
                background-color: skyblue;
                color: red;
            }
        