<div class="c-form-box o-opacity">
  <input  type="hidden" id="POST_URL"       value="{{site.formspree-POST-URL}}"         ></input>
  <input  type="hidden" id="Redirect_URL"   value="{{ site.url }}/contact/thanks/"  ></input>
  <div class="c-form">
    <a href="/"><div class="c-form-bnt__close" data-icon='ei-close' data-size='s'></div></a>
    <div class="c-form__title">向我发送邮件</div>
    <div class="c-form__group">
      <label for="form-name">*你的名字</label>
      <input class="c-form__input" id="form-name" type="text" name="name" required>
    </div>
    <div class="c-form__group">
      <label for="form-email">*你的Email地址</label>
      <input class="c-form__input" id="form-email" type="email" name="email" required>
    </div>
    <div class="c-form__group">
      <label for="form-subject">标题</label>
      <input class="c-form__input" id="form-subject" type="text" name="tittle">
    </div>
    <div class="c-form__group">
      <label for="form-text">*内容</label>
      <textarea class="c-form__input" id="form-text" type="text" name="context" rows="10" required></textarea>
    </div>
    <div class="c-form__group">
      <button class="c-submit_btn c-btn c-btn--secondary c-btn--big c-btn--shadow" >发送</button>
    </div>
  </div>

</div> <!-- /.c-form-box -->