<div class="c-newsletter">
  <div class="c-newsletter__header">
    <h4 class="c-newsletter__title">订阅</h4>
    <div class="c-newsletter__subtitle">订阅此博客并通过电子邮件接收新帖子的通知。</div>
  </div>
  <form class="c-newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="c-newsletter-form__group">
      <label class="u-screen-reader-text" for="mce-EMAIL">邮箱地址</label>
      <input class="c-newsletter__email required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="输入邮箱订阅我吧!!!" autocomplete="on">
      <input class="c-newsletter__button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="订阅">
    </div>
  </form>
</div> <!-- /.c-newsletter -->