/* 列表标号 */
li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
/* 超链接下划线 */
a{
    text-decoration: none;
}

/* 去除浮动影响 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
}
.clearfix::after{
    clear: both;
}

/* 版心居中 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* 背景 */
body{
    background-color: #f3f5f7;
}

.header{
    height: 42px;
    margin: 30px auto;
    /* background-color: pink; */
}
.header h1{
    float: left;
}
.nav{
    float: left;
    height: 42px;
    margin-left: 70px;
    /* background-color: blue; */
}

.nav li{
    float: left;
    height: 42px;
    margin-right: 25px;
    padding: 0 8px 0;

}

.nav li a{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}
.nav li:hover{
    border-bottom: 2px solid #00a4ff;
}



input.search {
    float: left;
    margin-left: 61px;
    width: 360px;
    height: 42px;
    border: 1px solid #00a4ff;
    padding-left: 20px;

}
input.search::placeholder{
    font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 31px;
	color: #bfbfbf;
}
button.search {
    float: left;
    width: 50px;
    height: 42px;
    background-image: url('../images/btn.png');
    border: 0px;

}
img.user{
    float: left;
    margin-left: 30px;
    margin-top: 6px;
    width: 30px;
    height: 30px;
}

span.user{
    float: left;
    display: block;
    margin-left: 6px;
    font-family: MicrosoftYaHei;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666666;
    line-height: 42px;
}

.banner{
    height: 420px;
	background-color: #1c036c;
}

.banner .box{
    width: 1200px;
    height: 420px;
    background-image: url(../images/banner2.png);
}

.banner .box .left{
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}
.banner .box .left ul{
    width: 190px;
    height: 420px;
    padding: 28px 20px;
    /* background-color: red; */
}

.banner .box .left li{
    margin-bottom: 32px;
	
}
.banner .box .left a{
    display: block;
    height: 12px;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	line-height: 1em;
	color: #fff;
}
.banner .box .left a::after{
    float: right;
    content: '>';
}

.banner .box .left a:hover{
    color: #00b4ff;
}

.banner .box .right{
    float: right;
    margin-top: 50px;
    width: 228px;
	height: 300px;
	background-color: #ffffff;
}

.banner .right .title{
    height: 48px;
    background-color: #9bceea;
    color: #fff;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
}

.banner .right ul{
    margin: 12px 18px 0px;
    /* background-color: skyblue; */
}

.banner .right li{
    height: 60px;
    padding-top: 13px;
    border-bottom: 1px solid #efefef;
}

.banner .right li .top{
        /* display: inline-block; */
        height: 16px;
        /* background-color: #050505; */
}
.banner .right li .bottom{
    /* display: inline-block; */
    height: 12px;
    margin-top: 5px;
    /* background: #000; */
}
.banner .right li .state{
    float: left;
    display: block;
    height: 16px;
    font-size: 16px;
    line-height: 1em;
    color: #5a5a5a;
    /* background-color: skyblue; */

}
.banner .right li .className{
    float: left;
    display: block;
    height: 16px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1em;
    color: #4e4e4e;
    /* background-color: skyblue; */
}
.banner .right li .info{
    display: block;
    height: 12px;
    font-size: 12px;
    line-height: 1em;
    color: #b1b1b1;
    /* background-color: red; */
}

.banner .right button{
    margin: 5px 14px 11px;
    width: 200px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #22b0ff;
    background-color: #fff;
    color: #22b0ff;
    font-size: 16px ;
    text-align: center;
}

.recommand{
    margin-top: 8px;
    padding: 21px 30px 21px 34px;
    width: 1200px;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
}
.recommand h2{
    float: left;
    height: 18px;
    /* background-color: skyblue; */
    font-size: 16px;
    font-weight:bold;
    color: #00a4ff;
} 

.recommand ul,
.recommand li{
    float: left;
    height: 18px;
}
.recommand ul{
    margin-left: 35px;
}
.recommand li{
    float: left;
    padding: 0 35px;
    height: 18px;
    border-left: 1px solid #bfbfbf;
}

.recommand a{

    /* background-color: skyblue; */
    font-size: 16px;
    color: #050505;
}

.recommand .change{
    float: right;
    height: 18px;
    /* background-color: skyblue; */
    font-size: 14px;
    color: #00a4ff;
}

.classBox{
    margin-top: 37px;
}

.classBox-header{
    padding: 0 35px 21px 0px;
    /* background-color: #000; */
}
.classBox-header h2{
    float: left;
    display: block;
    font-family: MicrosoftYaHei;
    font-weight:normal;
	font-size: 20px;
	color: #494949;
    /* background: #123; */

}
.classBox-header a{
    float: right;
    display: block;
    margin-top: 8px;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	color: #a5a5a5;
    /* background: #312; */

}

.classBox li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
	height: 270px;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}
.classBox li:nth-child(5n){
    margin-right: 0;
}
.classBox li .cover{
    width: 228px;
    height: 155px;
    /* background-color: #000; */
}

.classBox li:first-child{
    position: relative;
}
.classBox li:first-child::before{
    position:absolute;
    right: -4px;
    top: 4px;
    display: inline-block;
    width: 40px;
    height: 24px;
    content: "";
    background-image: url(../images/hot.png);
}

.classBox li h3
{
    margin: 20px 20px 15px 20px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: #050505;
}
.classBox li .adv{
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: #ff7c2d;
}
.classBox li .number{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: #999999;
}

.footer{
    margin-top: 40px;
    height: 400px;
    background: #fff;
}
.footer .left{
    float: left;
    padding: 35px 21px;
}

.footer .left img
{
    margin-bottom: 25px;

}
.footer .left p{
    font-family: SimSun;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #666666;
}
.footer .left button{
    margin-top: 15px;
    width: 120px;
    height: 35px;
    border: solid 1px #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    text-align: center;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
}

.footer .right{
    float: right;
    margin-top: 35px;
    margin-right: 35px;
}

.footer .right .partner{
    float: left;
    margin-left: 120px;
}

.footer .right .guide{
    float: left;
    margin-left: 120px;
}
.footer .right .about{
    float: left;
    margin-left: 120px;
}

.footer .right h2{
    margin-bottom: 15px;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	line-height: 21px;
	letter-spacing: 0px;
	color: #333333;
}

.footer .right a{
	font-family: SimSun;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0px;
	color: #333333;
}