.main{
    padding-top: 30px;
    padding-bottom: 85px;
    width: 100%;

    background-color: #f6f6f6;
}

.main .mainbox{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
}

.main .mainbox .left{
    display: flex;
    flex-direction: column;
    width: 227px;
    /* background-color: #fff; */
}
.main .mainbox .left>div{
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.main .mainbox .left>div:last-child{
    border-bottom: 0;
}

.main .mainbox .left>div:nth-child(1){
    padding: 50px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .mainbox .left .pic img{
    width: 85px;
    height: 85px;
    /* background-color: red; */
    border-radius: 50%;
}


.main .mainbox .left .pic span{
    margin: 10px 0;
	font-size: 18px;
	color: #333333;
}
.main .mainbox .left .pic p{
	font-size: 14px;
    padding: 2px 8px;
	color: #f9f9f9;
	background-image: linear-gradient(264deg,#e05e2f 0%,#ea745e 95%);
	border-radius: 13px;
}
.main .mainbox .left .pic p::before{
    content: "";
    display:inline-block;
    margin-right: 5px;
    width: 15px;
    height: 16px;
    background-image: url(../images/vip_gold.png);
    background-size: contain;
}
.main .mainbox .left .commonlist{
    padding: 15px 0 5px 30px;
}

.main .mainbox .left .commonlist dt,
.main .mainbox .left .commonlist dd{
    padding: 10px;
}


.main .mainbox .left .commonlist dt{
	font-size: 18px;
	color: #333333;
}

.main .mainbox .left .commonlist dd{
    position: relative;
	font-size: 14px;
	color: #333333;
}

.main .mainbox .left .commonlist dd::before{
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(-100%,-50%);
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    vertical-align: middle;
}

.main .mainbox .left .commonlist dd:hover:before{
    background-color: #5eb69c;
}
.main .mainbox .left .commonlist dd:hover a{
    color: #5eb69c;
}





.main .mainbox .right{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 1000px;
    /* background-color: #f6f6f6; */
}

.main .mainbox .right>div{
    margin-bottom: 18px;
    background-color: #fff;
}
.main .mainbox .right>div:last-child{
    margin-bottom: 0;
}

.main .mainbox .right .top{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 132px;
}
.main .mainbox .right ul{
    flex: 1;
}
.main .mainbox .right .top ul:first-child{
    border-right: 1px solid #f4f4f4;
}
.main .mainbox .right .top_common{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .mainbox .right .top_common li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* width: 70px; */
    height: 70px;
}

.main .mainbox .right .icons li .vip{
    width: 25px;
    height: 22px;
}
.main .mainbox .right .icons li .safe{
    width: 25px;
    height: 23px;
}
.main .mainbox .right .icons li .address{
    width: 18px;
    height: 25px;
}
.main .mainbox .right .top_common li span{
    margin-top: 15px;
	font-size: 16px;
}
.bigred {
	font-size: 25px;
	color: #e05e30;
}
.main .mainbox .right .goods_common {
    padding: 20px 20px;
}
.main .mainbox .right .goods_common .head{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding-bottom: 20px;
}
.main .mainbox .right .goods_common .head h2{
	font-size: 22px;
	font-weight: normal;
}
.main .mainbox .right .goods_common .head a{
    font-size: 16px;
	color: #999999;
}
.main .mainbox .right .goods_common .head a::after{
    content: "";
    display: inline-block;
    margin-left: 14px;
    width: 7px;
    height: 12px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
}

.main .mainbox .right .myorders .body>ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main .mainbox .right .myorders .body>ul>li{
    margin-bottom: 20px;
    height: 140px;
}

.main .mainbox .right .myorders .body>ul li ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.main .mainbox .right .myorders .body>ul li ul li{
    flex: 1;
    height: 140px;
    border: 1px solid #e8e8e8;
    border-right: 0px;
}
.main .mainbox .right .myorders .body>ul li ul li:last-child{
    flex: 1;
    height: 140px;
    border-right: 1px solid #e8e8e8;
}

.main .mainbox .right .myorders .body>ul li ul li:first-child{
    flex:3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .mainbox .right .myorders .body>ul li ul li:first-child>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .mainbox .right .myorders .body h3{
    width: 250px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    font-size: 16px;
	font-weight: normal;
}
.main .mainbox .right .myorders .body>ul li ul li:first-child>div>div span{
    font-size: 14px;
	font-weight: normal;
	color: #999;
}
.main .mainbox .right .myorders .body>ul li ul li:first-child>span{
    padding: 0 80px;
    font-size: 14px;
	color: #e05e30;
}
.main .mainbox .right .myorders .body h3{
    font-size: 16px;
	font-weight: normal;
	color: #333333;
}
.main .mainbox .right .myorders .body>ul li ul li img{
    margin-left: 10px;
    width: 107px;
    height: 107px;
    background-size: contain;
}
.main .mainbox .right .myorders .body>ul li ul li:nth-child(2),
.main .mainbox .right .myorders .body>ul li ul li:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .mainbox .right .myorders .body>ul li ul li:nth-child(2) span{
    margin: 4px 0;
	font-size: 14px;
}
.main .mainbox .right .myorders .body>ul li ul li:nth-child(2) span:nth-child(1){
	font-size: 14px;
	color: #9a2e1f;
}

.main .mainbox .right .myorders .body>ul li ul li:nth-child(3) button{
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
    font-size: 14px;
	color: #ffffff;
    background-color: #5eb69c;
    border-radius: 2px;
}
.main .mainbox .right .myorders .body>ul li ul li:nth-child(3) span a{
	font-size: 14px;
}

.main .mainbox .right .favorAndSteps .body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .mainbox .right .favorAndSteps .body a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 15px;
}
.main .mainbox .right .favorAndSteps .body img{
    margin: 16px 12px;
    align-self: center;
    height: 160px;
}

.main .mainbox .right .favorAndSteps .body p{
	font-size: 16px;
	color: #333333;
}

.main .mainbox .right .favorAndSteps .body span{
	font-size: 22px;
	color: #9a2e1f;
}

.main .mainbox .right .favorAndSteps .head{
    border-bottom: 1px solid #f4f4f4;
}