name: Deploy Blog

on:
  push:
    branches: [master]

permissions:
  contents: write
  pages: write
  id-token: write  # 必需权限

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # 1. 拉取仓库
    - name: Pull Repository
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        
    # 2. 配置 Node.js
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
        
    # 3. 构建静态网站
    - name: Build Pages
      run: |
        npm i -D @rollup/rollup-linux-x64-gnu --legacy-peer-deps
        npm install --legacy-peer-deps
        npm run build
        
    # 4. 上传到 GitHub Pages
    - name: Upload Pages Artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'blog/.vuepress/dist'  # 构建输出目录

    # 5. 存档到static-pages分支
    - name: Push static files to branch
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: 'blog/.vuepress/dist'
        branch: static-pages
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      # https://YiguiDing.github.io/
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    # 1. 自动部署GitHub Pages
    - name: Deploy Pages
      uses: actions/deploy-pages@v4
      id: deployment
    # 2. 下载
    - uses: actions/download-artifact@v4
      with:
        name: github-pages  # 自动生成的制品名
    - run: |
        tar -xvf artifact.tar && rm -f artifact.tar
        ls -al
    # 3. 推送到远程服务器
    - uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - run: |
        ssh-keyscan dingdingdang.online >> ~/.ssh/known_hosts
        rsync -avz --delete ./ github@dingdingdang.online:/var/www/blog/root/

        
