name: Deploy Blog

on:
    push:
        branches: [master]

permissions:
    contents: write
    pages: write
    id-token: write # 必需权限

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        environment:
            name: github-pages
        steps:
            # 1. 拉取仓库
            - name: Pull Repository
              uses: actions/checkout@v4
              with:
                  submodules: true
                  fetch-depth: 0

            # 2. 配置 Node.js
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            # 3. 构建静态网站
            - name: Build Pages
              run: |
                  npm i -D @rollup/rollup-linux-x64-gnu --legacy-peer-deps
                  npm install --legacy-peer-deps
                  npm run build

            # 4. 推送到 static-pages 分支
            - name: Push static files to branch
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: "blog/.vuepress/dist"
                  branch: static-pages

            # 5. 推送到远程服务器
            - uses: webfactory/ssh-agent@v0.8.0
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
            - run: |
                  ssh-keyscan dingdingdang.online >> ~/.ssh/known_hosts
                  rsync -avz --delete ./blog/.vuepress/dist/ github@dingdingdang.online:/var/www/blog/root/